# Python
venv-cncf/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
*.log
vosk-model-small-en-us-0.15.zip

# Frontend
node_modules/
dist/
build/
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# # Build outputy